<html ng-app> 
 <head>
  <script src="angular.js"></script>
    <title>Anular JS</title>
 </head>
 <body>
    <div id='container' ng-init="names=['Ahmed','John','Jeff','Zaheer']">
       search : <input type="text" ng-model="searchKeyword" />

       <div style='background:#E4E8EA;padding:10px;'>
          Here is list of user name:
          <ul ng-repeat="name in names | filter:searchKeyword ">
              <li>{{name | uppercase}}</li>
          </ul>
       </div>
   </div>
 </body>
</html>